<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/ref.css">
    <script src="/student.js"></script>
    <script src="/index.js"></script>
    

    <!-- datepicker link + scripts -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>

    <script>
        $( function() {
          $( "#datepickerA" ).datepicker({
            changeMonth: true,
            changeYear: true
          });
        } );
    </script>

    <script>
        $( function() {
        $( "#datepickerB" ).datepicker({
            changeMonth: true,
            changeYear: true
        });
        } );
    </script>

<script>
    $( function() {
    $( "#datepickerC" ).datepicker({
        changeMonth: true,
        changeYear: true
    });
    } );
</script>

<script>
    $( function() {
    $( "#datepickerD" ).datepicker({
        changeMonth: true,
        changeYear: true
    });
    } );
</script>

    <!-- dragzone/drag n drop files-->

    <!-- In your <head> or before </body> -->
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" />
    <div class="dropzone" id="my-dropzone"></div>

</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center;">
        <img src="/assets/Cal25-26.jpg" style="width: 50%; height: auto;" alt="CIS_25-26_Calendar">
    </div>

    <div data-has-description="false" data-has-error="false" data-has-label="true" data-state="Default" data-value-type="Default" style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex"></div>
    <!-- border/margin -->

    <criterions>

        <div data-has-description="false" data-has-error="false" data-has-label="true" data-state="Default" data-value-type="Default" style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">

        <!-- Criterion A -->
        <criterion>Criterion A: Describing a Problem</criterion>
        <smalldiv></smalldiv>
        <criterioncontent>"One problem that we have noticed around..."</criterioncontent>

        <p>Crit A Date: <input type="text" id="datepickerA"></p>

        <div data-has-description="false" data-has-error="false" data-has-label="true" data-state="Default" data-value-type="Default" style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex"></div>

        <!-- Criterion B -->
        <criterion>Criterion B: Developing a Solution</criterion>
        <smalldiv></smalldiv>
        <criterioncontent>"We plan to address the above problem by..."</criterioncontent>

        <p>Crit B Date: <input type="text" id="datepickerB" class="has"></p>

        <div data-has-description="false" data-has-error="false" data-has-label="true" data-state="Default" data-value-type="Default" style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex"></div>

        <!-- Criterion C -->
        <criterion>Criterion C: Creating a Solution</criterion>
        <smalldiv></smalldiv>
        <criterioncontent>
            <input type=text value="We seek to create a solution that is..." style="width:100%; height:100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc; font-size: 16px;">
        </criterioncontent>

        <p>Crit C Date: <input type="text" id="datepickerC"></p>

        <div data-has-description="false" data-has-error="false" data-has-label="true" data-state="Default" data-value-type="Default" style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex"></div>

        <!-- Criterion D -->
        <criterion>Criterion D: Evaluating</criterion>
        <smalldiv></smalldiv>
        <criterioncontent>"We believe that success is defined as..."</criterioncontent>

        <p>Crit D Date: <input type="text" id="datepickerD"></p>

        <div data-has-description="false" data-has-error="false" data-has-label="true" data-state="Default" data-value-type="Default" style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex"></div>

    </criterions>

    <button onclick="saveText()">Save Text</button>
    
    <div class="my-dropzone"></div>

    <script>
    // Dropzone has been added as a global variable.
    const dropzone = new Dropzone("div.my-dropzone", { url: "/file/post" });
    </script>

</body>
</html>